<div class = "posts">
    <h2>投稿一覧</h2>
    <% @posts.each do |post|%>
        <div class = "post_title">
            タイトル︰<%= link_to "#{post.title}", post_path(post.id) %> (<%= post.user.nickname %>さんの投稿)
        </div>
    <% end %>
</div>